
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
  padding: 0;
}
.main-header{
  color:rgba(134, 241, 4, 0.844);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background:linear-gradient(rgb(1, 14, 24),white ,rgba(7, 227, 7, 0.922));
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: 10px 0;
}
.img{
    animation:rotate 20s linear infinite;
    animation-play-state: paused;
}
.rotate{
  animation-play-state: running;
}

@keyframes rotate {
    from {transform:rotate(0deg);}
    to {transform: rotate(360deg);}
}   

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.buttons button {
  padding: 8px 12px;
  border: none;
  border-radius: 7px;
  background-color: rgba(59, 255, 59, 0.895);
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.buttons button:hover {
  background-color:#21f7fb;
}
.prog{
  border-style:groove;
  border-radius: 20px;
  border-color:rgb(162, 253, 26);
  padding:5px;
  box-shadow: rgba(161, 204, 87, 0.849);
}

#progress-bar{
  background-color: #4caf50; /* green */
}

